{% extends 'base.html' %}

{% block content %}

{% if check_linkedin_token %}
<div>
    <button>Connected to LinkedIn</button>
</div>
{% else %}
<div>
    <a href="{% url 'authentication:linkedin_begin' %}">Connect to LinkedIn</a>
</div>
{% endif %}

{% if check_github_token %}
<div>
    <button>Connected to Github</button>
</div>
{% else %}
<div>
    <a href="{% url 'authentication:github_begin' %}">Connect to Github</a>
</div>
{% endif %}

<div>
    <a href="{% url 'authentication:google_begin' %}">Connect to Google</a>
</div>

{% if token %}
<p> Github Token :- {{github_token}}</p>
{% endif %}

{% endblock content %}